Repository sibiraj-s/marked-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update defaultProps
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/marked-react.iml
  .idea/modules.xml
  package-lock.json
  src/Markdown.ts
Due: eslint --fix, prettier --write

Export ReactParser and ReactRenderer (#15)
  src/index.ts
Due: eslint --fix, prettier --write

Revert unwanted changes
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/marked-react.iml
  .idea/modules.xml
  package-lock.json
Due: prettier --write

Remove deprecated defaultProps (#18)
  src/Markdown.ts
Due: eslint --fix, prettier --write

Release marked-react v1.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update vitest to v0.32.4
  package-lock.json
  package.json
Due: prettier --write

Update storybook to v7.0.25
  package-lock.json
  package.json
Due: prettier --write

Update eslint hooks rule
  .eslintrc.yml
Due: prettier --write

Fix prepublishOnly script
  package.json
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: prettier --write

Update eslint config
  .eslintrc.yml
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

Update marked to v6
  package-lock.json
  package.json
  src/Markdown.ts
  src/ReactParser.ts
  src/ReactRenderer.ts
  tests/markdown.spec.ts
  tests/parser.spec.ts
Due: eslint --fix, prettier --write

Release marked-react v2.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update LICENSE
  LICENSE
Due: none

Update Github Action workflows
  .github/workflows/pages.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

Switch from rollup to tsup
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.lib.json
  tsup.config.ts
Due: eslint --fix, prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Update storybook config
  .eslintrc.yml
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/theme.ts
Due: eslint --fix, prettier --write

Bump devDependencies
  package-lock.json
  package.json
  vitest.config.ts
Due: eslint --fix, prettier --write

Add support for RSC by removing useRef usage
  src/Markdown.ts
Due: eslint --fix, prettier --write

Remove useRef usage (#23)
  src/Markdown.ts
Due: eslint --fix, prettier --write

Update marked to v12
  package-lock.json
  package.json
  src/ReactParser.ts
  tests/parser.spec.ts
Due: eslint --fix, prettier --write

Update actions upload-artifact and deploy-pages
  .github/workflows/pages.yml
Due: prettier --write

Add ordered list start value
  src/ReactParser.ts
  src/ReactRenderer.ts
  tests/markdown.spec.ts
Due: eslint --fix, prettier --write

Restore original behavior
  src/ReactRenderer.ts
  tests/markdown.spec.ts
Due: eslint --fix, prettier --write

Fix ordered list start (#34)
  src/ReactParser.ts
  src/ReactRenderer.ts
  tests/markdown.spec.ts
Due: eslint --fix, prettier --write

Bump dependencies
  package-lock.json
  package.json
Due: prettier --write

Cleanup husky hooks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

Bump lockfile
  package-lock.json
Due: prettier --write

Fix manifest errors
  .husky/pre-push
  package.json
Due: prettier --write

Update marked to v15
  package-lock.json
  package.json
Due: prettier --write

Release marked-react v3.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

FIX: Addressed component preservation failure during streaming.
  src/ReactParser.ts
  src/ReactRenderer.ts
Due: eslint --fix, prettier --write

FIX: Addressed component preservation failure in `list` and `table`
  src/ReactParser.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,cjs,ts,tsx}
  prettier --write: any of: *.{html,css,md,ts,yaml,yml,json,ts}
