Repository sibiraj-s/marked-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,cjs,ts,tsx}': eslint --fix
'*.{html,css,md,ts,yaml,yml,json,ts}': prettier --write

Regenerate package-lock.json
  package-lock.json
Due: prettier --write

Release marked-react v1.3.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update devDependencies
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Update typescript to v4.9.3
  package-lock.json
  package.json
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: prettier --write

Run CI with nodejs 18
  .github/workflows/pages.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

Update storybook to v7-beta
  .storybook/main.cjs
  .storybook/preview-head.html
  .storybook/preview.js
  package-lock.json
  package.json
  stories/0-MarkedReact.stories.tsx
  stories/1-CustomRenderer.stories.tsx
  stories/global.d.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix, prettier --write

Set baseURL only in storybook build
  .storybook/main.cjs
Due: eslint --fix

Fix storybook theme
  .storybook/main.cjs
  .storybook/manager.js
  .storybook/preview.js
  .storybook/theme.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

Update storybook to v7.0.0-beta.12
  package-lock.json
  package.json
Due: prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

Update rollup to v3.9.0
  package-lock.json
  package.json
Due: prettier --write

Update storybook to v7.0.0-beta.16
  package-lock.json
  package.json
Due: prettier --write

Fix reference to invalid files in package.json
  package.json
Due: prettier --write

Disable sourcemaps
  rollup.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

Release marked-react v1.3.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add todo for storybook theme issue
  .storybook/main.js
  .storybook/theme.js
Due: eslint --fix

Update marked to v4.2.12
  package-lock.json
  package.json
Due: prettier --write

Fix storybook theme
  package.json
Due: prettier --write

Update storybook to v7 stable
  package-lock.json
  package.json
Due: prettier --write

Fix export types
  package.json
Due: prettier --write

Fix types order
  package.json
Due: prettier --write

Export ReactParser and ReactRenderer
  src/index.ts
Due: eslint --fix, prettier --write

fix: deleted defaultProps
  src/Markdown.ts
  src/helpers.ts
Due: eslint --fix, prettier --write

Complete mergeProps unit testing
  package-lock.json
  tests/helpers.spec.ts
Due: eslint --fix, prettier --write

Add npm package provenance
  .github/workflows/publish.yml
Due: prettier --write

Replace jest with vitest
  .husky/pre-push
  jest.config.ts
  package-lock.json
  package.json
  tests/component.spec.ts
  tests/helpers.spec.ts
  tests/markdown.spec.ts
  tests/parser.spec.ts
  tests/renderer.spec.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

Configure publint
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

Update actions/deploy-pages to v2
  .github/workflows/pages.yml
Due: prettier --write

Bump devDependencies
  .storybook/theme.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write
